<div class="container">
    <h2 class="text-center mt-5 mb-5">Item Detail</h2>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-info float-right" routerLink="/items/overview">All Items</a>
        </div>
        <div class="card-body">
            <b class="text-muted">Title:</b>
            <p>{{item.title}}</p>
            <b class="text-muted">Description:</b>
            <p>{{item.description}}</p>
            <b class="text-muted">Created At:</b>
            <p>{{item.createdAt}}</p>
            <b class="text-muted">Updated At:</b>
            <p>{{item.updatedAt}}</p>
        </div>
    </div>
</div>
